.section{
    background-color: black;
    color: var(--color-text-two);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 240px;
}
.h{
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 1.43px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}