.gallery {
  width: 100%;
  margin-top: 160px;
}
.imgContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}
.imgContainer img {
  border-radius: 7px;
}
.first {
  grid-column: 1/2;
  grid-row: 1;
}
.second {
  grid-column: 1/2;
  grid-row: 2;
}
.third {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
/* Media Queries */
@media screen and (max-width: 1090px){
  .imgContainer{
    padding: 0 40px;
    gap: 18px
  }
  .first{
    width: 400px;
    height: 224px;
    object-fit: contain;
  }
  .second{
    width: 400px;
    height: 224px;
    object-fit: contain;
  }
  .third{
    width: 790px;
    max-width: 100%;
    height: 466px;
    object-fit: cover;
  }

}



@media screen and (max-width: 768px){
  .first{
    width: 277px;
    height: 174px;
  }
  .second{
    width: 277px;
    height: 174px;
  }
  .third{
    width: 690px;
    max-width: 100%;
    height: 368px;
  }

}