.productInfo {
  width: 100%;
  margin-top: 160px;
}
.container {
  display: flex;
  gap: 125px;
}
.description {
  max-width: 60%;
}
.description p {
  margin-bottom: 1rem;
  color: #000000;
  opacity: 0.5;
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 0;
}
h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 1.14px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}
.items {
  display: flex;
  gap: 24px;
}
.quantity {
  color: var(--color-primary);
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: bold;
}
.item {
  color: #000000;
  opacity: 0.5;
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 0;
}
/*Media Queries*/

@media screen and (max-width: 1050px) {
  .container {
    padding: 0 40px;
    gap: 50px;
  }
}
@media screen and (max-width: 950px) {
  .container {
    flex-direction: column;
    width: 100%;
  }
  .description {
    max-width: 100%;
  }
  .description p {
    max-width: 100%;
  }
  .inTheBox {
    display: flex;
    gap: 175px;
  }
}
@media screen and (max-width: 768px) {
  .inTheBox {
    gap: 80px;
  }
}
@media screen and (max-width: 550px) {
  .inTheBox {
    flex-direction: column;
    gap: 0px;
  }
  .productInfo{
    margin-top: 100px;
  }
}
