.btnContainer {
  display: flex;
  color: black;
  gap: 20px;
}
.btnContainer button {
  border: none;
  width: 30px;
  background: transparent;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnContainer span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}
