.sectionContainer {
  display: flex;
  gap: 30px;
}
.section {
  margin-top: 177px;
  margin-bottom: 170px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 8px;
  height: 204px;
  position: relative;
  width: 100%;
  padding-bottom: 30px;
  gap: 15px;
}
.card h3 {
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1.29px;
}
.card img {
  width: 220px;
  position: absolute;
  bottom: 80px;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.link .shop {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.5;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: bold;
  transition: color 0.155s ease;
}
.link:hover .shop{
  color: var(--color-primary);
  opacity: 1;
}
.arrow {
  transition: transform 0.2s ease;
}

.link:hover .arrow {
  transform: translateX(5px);
}

/* Media Queries */ 
@media screen and (max-width: 950px){
  .section{
    padding: 0 39px;
    margin-bottom: 96px;
  }
  .card img{
    width: 200px;
    bottom: 90px;
  }
}
@media screen and (max-width: 900px){
  .card img{
    width: 180px;
    bottom: 75px;
  }
  .card h3{
    transform: translateY(-10px);
  }
  .card{
    padding-bottom: 15px;
    height: 165px;
  }
  .link{
    transform: translateY(-10px);
  }

}
@media screen and (max-width: 800px){
  .card h3{
    font-size: 15px;
  }
}
@media screen and (max-width: 600px){
  .sectionContainer{
    flex-direction: column;
    gap: 85px
  }
  .card img{
    width: 200px;
    bottom: 50px;
  }
}
@media screen and (max-width: 500px){
  .section{
    padding: 0 24px;
  }
}