.main {
    background-color: var(--color-bg-1);
    padding: 10px 0;
    padding-top: 50px;
}
.checkoutContainer{
    display: flex;
    gap: 30px;
    margin-bottom: 140px;
    margin-top: 38px;
}
form{
    width: 100%
}
.backButton{
    color: #000000;
    opacity: 0.5;
    background: none;
    border: none;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    margin-top: 20px;
}
.backButton:hover{
    color: var(--color-primary);
    opacity: 1;
}
/* Media Queries */ 
@media screen and (max-width:1050px){
    .checkoutPage{
        padding: 0 40px;
    }
}
@media screen and (max-width: 950px){
    .checkoutContainer{
        flex-direction: column;
        width: 100%;
    }
}