.navbar {
  background-color: black;
  color: white;
  height: 96px;
}
.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.navbarContainer h2 {
  font-weight: bold;
}
.left {
  display: flex;
  align-items: center;
}
.links a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-text-two);
  font-size: 13px;
  font-weight: bold;
  transition: color 0.155s ease;
}
.links a:hover {
  color: var(--color-primary);
}
.links {
  display: flex;
  gap: 34px;
}
.cart {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
