.section {
  margin: 200px 0;
}
.audioSectionContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 125px;
}
.heading {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.4;
  font-weight: bold;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.heading :where(span) {
  color: var(--color-primary);
}
.p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
}
.img {
  border-radius: 8px;
}
.sectionContent {
  max-width: 445px;
}

/*Media Queries*/

@media screen and (max-width: 1050px) {
  .audioSectionContainer {
    gap: 55px;
    padding: 39px;
  }
  .section {
    margin-top: 96px;
  }
}
@media screen and (max-width: 950px) {
  .audioSectionContainer {
    flex-direction: column-reverse;
  }
  .img {
    max-width: 100%;
  }
  .section{
    margin-top: 0;
    margin-bottom: 96px;
  }
  .heading {
    text-align: center;
  }
  .p {
    text-align: center;
  }
}
@media screen and (max-width:500px){
  .heading{
    font-size: 28px;
  }
}